body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {
  transition-duration: 0.3s;
}
.fb {
  display: flex;
}
.ac {
  align-items: center;
}
.as {
  align-items: start;
}
.ae {
  align-items: end;
}
.jc {
  justify-content: center;
}
.js {
  justify-content: start;
}
.je {
  justify-content: end;
}
.jsa {
  justify-content: space-around;
}
.jsb {
  justify-content: space-between;
}
.jse {
  justify-content: space-evenly;
}
.cmgsn {
  width: 100%;
  height: 100%;
  color: #bbbbbb;
  font-weight: 800;
  font-size: xxx-large;
}